/* 180度以下はアフターの角度のみ動かす */
/* 180度以上はサークル・アフターを＃３３３　０度固定、ビフォーを＃９９９で（０−１８０度）動かす */

.circle {
    background: #333;
}


.circle::before {
    transform: rotate(144deg);
    background: #999;
}

.circle::after {
    content: "";
    transform: rotate(0deg);
    background: #333;
}

.confirm_area {
    font-size: 0.8em;
    margin: 40px;
}

.confirm_unit {
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #F3F3F3 solid;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #484848;

}

.confirm_title {
    width: 40%;

}

.confirm_textbox {
    width: 60%;
}

input#trigger {
    display: none;
}

/* POPアップエリア */
HTML SCSS Result EDIT ON .modal_wrap input {
    display: none;
}

.modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
    font-family: gaegu;
}

.modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_content {
    text-align: center;
    align-self: flex-start;
    width: 60%;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    /* line-height: 1.4em; */
    transform: translateY(-100%);
    transition: 0.5s;
}

.close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.modal_wrap input:checked~.modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}

.modal_wrap input:checked~.modal_overlay .modal_content {
    transform: translateY(10%);
}

button.button_flat_wide_white.-is_short {
    width: 150px;
}

.pic_unit {
    margin: 12px 0;
}

.-is_font_title {
    font-size: 2em;
    color: #86929D;
}

.-is_font_small {
    font-size: 0.6em;
    color: #86929D;
}

.-is_font_middle {
    font-size: 1.2em;
    color: #86929D;
    margin-top: 12px;
}

.caution {
    color: #484848;
    font-size: 0.8em;
    margin: 40px;
}




View Compiled Resources 1×0.5×0.25× Rerun
