body {
    color: #86929D;
}


.box_item {
    display: flex;
    align-items: flex-end;
    background-color: #F3F3F3;
}

.user_item {
    padding-left: 16px;
    color: #484848;
    font-weight: bold;
    margin: 4px 0;
}

.required {
    color: #FA4466;
    font-size: 0.7em;
    margin: 4px 0;
}



.form_item {
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px;
}



input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px #86929D solid;
    border-radius: 4px;

}

.button_flat {
    margin: 0;
}

.wrap_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_wrap_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.terms {
    margin: 8px;
}

.color_pink {
    color: #FA4466;
    display: flex;
    margin-bottom: 16px
}

.wrap_end {
    margin: 16px;
    font-size: smaller;
}

.kiyaku {
    color: #484848;
    text-decoration: underline;
}

input[type="checkbox"] {
    transform: scale(1.9);
}
