.circle::after {
    content: "";
    transform: rotate(72deg);
}

.people-number_title {
    color: #FDB3AD;
}

.wrapper {
    margin: 0 10vw;
}

.wrapper.-is-flexbox {
    display: flex;
}

input.input_number_c {
    width: 46px;
    height: 46px;
    float: left;
    text-align: center;
    font-family: Roboto;
    font-size: 2.5em;
    color: #86929D;
}

.button_wrap {
    margin: 8px 0;
    width: 100%;
}

.is_harf {
    width: 50%;
}

.plan_comment {
    font-size: 0.6em;
    text-align: center;
    margin-right: 20px;
    color: #86929D;
}

.plan_name {
    font-size: 0.9em;
    text-align: center;
    margin: 4px 20px 8px 0px;
    color: #86929D;
}

.alert.alert-danger {
    font-size: 0.8em;
    color: #AA5358;
    font-weight: bold;
    margin-bottom: 8px;
}
