/* リセット用 */

ul {
  padding: 0;
}



/* ヘッダー等 */
a {
  text-decoration: none;
}
<<<<<<< HEAD

.body {
  font-family: 'Roboto', sans-serif;
=======
  body{
>>>>>>> 23841ebda8a69ca1258d6e7c016b3a93786d99d5
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Roboto', sans-serif;

  /* width: 100%; */
  background-color: #FEFFFE;
  margin: 0px;
}

/* .header{
  height:80px; */
/* color:#FE7B93; */
/* padding:10px 0px 5px 20px; */
/* font-size:18px; */
/* font-family: 'Gaegu', cursive; */
/* font-weight: bold;
  text-decoration:none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDF8F2;
  
  } */


.fixed {
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* .logo {
   color: #FCA899;
   font-size: 2em;   } */

.nav {
  display: flex;
  justify-content: center;
}


/* .recommend_head{
      border-bottom: 3px solid #D4D4D4;
  } */

.top_var {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FED6CF;
  color: #FCFAF5;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  padding: 8px;
}


/* タブ */
.tab {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #DC8A8C;
  color: #DC8A8C;
  font-size: 0.9em;
  background-color: #FDF8F2;
  /* border: 1px solid black; */
}

.tab_item {
  display: flex;
  justify-content: center;
  /* 子要素をflexboxにより中央に配置する */
  align-items: center;
  /* 子要素をflexboxにより中央に配置する */
  border: 1px solid #DC8A8C;
  background-color: #FFFFFF;
  width: 100%;
  margin: -1px 5px;
  padding: 3px;
  text-align: center;
  border-radius: 3px 3px 0 0;
}


.tabmenu {
  position: relative;
  width: 320px;
  height: 200px;
  font-size: 0;
}


.tabmenu span {
  position: absolute;
  top: 30px;
  left: 0;
  display: block;
  margin: 4px 0 0;
  padding: 10px;
  width: 100%;
  height: 140px;
  border: 1px solid #0ae;
  -webkit-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
  font-size: 14px;
}

.tabmenu input[type="radio"] {
  display: none;
}

.tabmenu input[type="radio"]+em {
  position: relative;
  z-index: 100;
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 4px 0 0;
  min-width: 80px;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: #ddd;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
  cursor: pointer;
}

.tabmenu input[type="radio"]:checked+em {
  background: #0ae;
  color: #fff;
}

.tabmenu input[type="radio"]:checked+em::after {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -9px;
  /* border: 9px solid transparent; */
  /* border-top: 9px solid #0ae; */
  content: "";
}

.tabmenu input[type="radio"]+em~span {
  display: none;
}

.tabmenu input[type="radio"]:checked+em~span {
  display: block;
}

/* Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px;  推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 18px;
  line-height: 1;
  text-transform: none;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: 'liga';

}

/* アイコンサイズ */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.large-size {
  font-size: 32px;
}

.material-icons.small-size {
  font-size: 15px;
}

/* テントのマーク */



.tent_mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */

  position: relative;
  /* display: inline-block; */
  margin: 1em;
  color: #C7A570;


}

/*以下で線を表示*/
.tent_mark:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  /*線の上下位置*/
  display: inline-block;
  width: 80px;
  /*線の長さ*/
  height: 2px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #C7A570;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

testSVG>svg {
  fill: currentColor;
}

/* コンテナ */

.card_container {
  /* background-color: #F3F3F3; */
  /* padding:4px 0px 0px 0px; */
  padding-bottom: 0.1px;
}

/* キャンプ詳細ボタン */

.btn-square-little-rich {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  color: #FFF;
  width: 90%;
  background: #FCA0B1;
  /*色*/
  /* border: solid 1px #0f9ada;線色 */
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}


.btn-square-little-rich:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}


/* キャンプ場の３つのおすすめポイント */


/* .reco_point{
  margin: 0px 20px;
} */
.cg_title_margin {
  display: flex;
  justify-content: center;
}


.cg_title {
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  padding: 4px 0px 8px 0px;
  color: #86929D;
  font-size: 0.8em;
  /* font-weight: bold; */
  /* width: 80%; */
  /* border-bottom: solid 1px #FDB3AD; */
}

.cg_title_under {
  text-align: center;
  padding: 4px 0px 0px 0px;
  color: #FED6CF;
  font-size: 1.1em;
  font-family: 'Sacramento', cursive;
  margin-bottom: -20px;
}

.reco_point_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #FDB3AD;
  /* margin: 0px 0px 8px 0px; */
}

/* .reco_number{
  font-size: 3em;
  font-family: 'Gaegu', cursive;
  width: 60px;
  color: rgba(252,168,153,0.2);
} */

.reco_point_unit {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  align-items: center;
  margin: 0px 4px 0px 4px;
  color: #FDB3AD;
  /* color: #FDB3AD; */
  /* margin: 16px 0px; */
  border-bottom: 1px solid #86929D;
}

/* .reco_point_left{
  display: flex;
  justify-content: center;
  text-align: center;

} */

.reco_point_right {
  position: relative;
}

.reco_title {
  font-size: 0.5em;
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
  width: 100%;
  /* align-items: center; */
}

.reco_title2 {
  font-size: 0.5em;
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
  width: 100%;
  /* align-items: center; */
}






/* ここからレコエリア修正したところ */

.recommend_column {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #DEDDDD;
  padding: 12px;

}

.recommend_column_noline {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #DEDDDD; */
  padding: 12px;

}




.recommend_text_area {
  color: #86929D;
  font-size: 0.8em;
  width: 100%;
}

.recommend_text_item {
  width: 60%;
}

.recommend_item {
  width: 40%;

}



/* 仮入力 */

*,
*:after,
*:before {
  -webkit-box-sizing:
    border-box;
  -moz-box-sizing:
    border-box;
  box-sizing:
    border-box;

}

body,
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  /* font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */

}

/* img??{
  width: 100%;
  max-width: 100%;
  width :auto;
  height:auto;
  vertical-align:bottom;
} */
/* .main_wrap{
  height:auto !important;
}
.reco_icon_area{
  position: relative;
          
} */
/* .reco_icon_area img{
      width: 100%;
} */
/* .text_area {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: 5px;
} */


.reco_icon_area .main_text {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

.sub_text {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  margin: 0;
  padding: 0;
}






/* .btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
*/
/* .btn-a{
  text-align: center;
  margin:12px 0px -4px 0px;
} */


/* カード */
.card_headText {
  font-size: 0.5em;
  color: #5F5F5F;
  font-weight: bold;
  margin: 4px 0px -2px;
}

.card {
  /* width: 300px;
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc; */

  margin: 24px 8px;
  border-radius: 20px;
  background-color: #FDF8F2;
  /* box-shadow: 0 3px 6px #ccc; */
  /* border: 3px solid #D2D2D2; */
}

/* .card_img{
  position:relative；

}
.card_img:before{
  content:'';
  display:block;
  width:100%;
  height:0;
  padding-bottom:75%;
}

/* .card_img img{
  position:absolute;
  width:100%;
  object-fit: 「cover」;
  border-radius: 20px 20px 0px 0px;

} */

/* .carousel-ui img{
  position:absolute;
  width:100%;
  object-fit: 「cover」;
  border-radius: 20px 20px 0px 0px;

} */





.card_img img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  /* height: px;   */
  object-fit: 「cover」;
}

.card_img_wrap {
  position: relative;
}

.layer_padding {
  padding: 0px 8px 0px;
}

.card_layer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 185, 151, 0.4);
  /* padding: 8px; */
  /* margin: 0px 8px; */
  font-size: 1em;
  /* font-weight: bold; */
  color: #FFFFFF;
  position: absolute;
  /* top: 80%; */
  /* left: 55%; */
  /* text-align: center; */
  bottom: 0px;
  left: 50%;
  width: 100%;
  /* transform: translateY(0%) translateX(-50%); */
  -webkit-transform: translateY(0%) translateX(-50%);
}




.icon2 {
  width: 48px;
  height: 48px;
  margin: 10px;
  border-radius: 24px;
  object-fit: cover;
}

.camp_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cg_name {
  margin: 0px 4px;
}

.title2 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1em;
  /* font-weight: bolder; */
  padding: 16px;
  /* color: #777777; */
  text-align: center;
}

/* .camp_area {
  /* font-size: 60%; 
  margin-bottom: 8px;
  color: #888;
} */



/* １枚目カード */
.nav_title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(252, 168, 153, 0.3);
  padding: 8px;
  font-size: 1em;
  /* font-weight: bold; */
  color: #FFFFFF;
  position: absolute;
  /* top: 80%; */
  /* left: 55%; */
  /* text-align: center; */
  bottom: 0px;
  left: 50%;
  width: 100%;
  /* transform: translateY(0%) translateX(-50%); */
  -webkit-transform: translateY(0%) translateX(-50%);
}

.nav_layertext {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: rgba(255,255,255,0.56); */
  padding: 8px;
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  /* font-weight: bold; */
  color: rgba(255, 255, 255, 0.56);
  position: absolute;
  /* top: 80%; */
  /* left: 55%; */
  /* text-align: center; */
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}



.nav_title_img img {
  width: 100%;
  /* border-bottom: 3px solid #777777; */
}

.nav_title_wrap {
  position: relative;
}

.nav_textbox {
  color: #86929D;
  font-size: 0.8em;
  margin: 16px 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


}

/* 画像横並び */

.camp_pc-a .camp_pc {
  float: left;
  margin-left: 1px;
}

.camp_pc-a .camp_pc {
  width: 24%;
}

/*floatの解除*/
.camp_pc-a:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

/*画像のサムネイル*/
.camp_img {
  width: 100%;
  /* height:; */
  object-fit: cover;
}

/*スマホの場合を想定*/
@media only screen and (max-width : 480px) {
  .camp_pc-a .camp_pc:first-child {
    margin-left: 1px;
  }

  .camp_pc-a .camp_pc {
    margin-bottom: 1px;
    width: 48%;
    /*幅48%で横に2つ並べる*/
  }
}

.detail_btn_width {
  width: 100%
}

.detail_btn {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  align-items: center;
  padding: 8px;
  background-color: #FED6CF;
  color: #FFFFFF;
  /* width:100%; */
  border-radius: 0px 0px 20px 20px;
}

.box_empty {
  background-color: #FCFAF5;
  height: 16px;
}

/* ここから２ページ目 */
.cg_img {
  /* width: 100%;
      height: 250px;
      object-fit: cover;
      margin-right: 3%; */
  background-size: cover;
  background-position: center center;
  padding-top: 100%;
  width: 100%;
}

.cg_subtext {
  font-size: 0.5em;
  color: #86929D;
  ;
  /* font-weight: bold; */
  margin: 16px 16px 0px;
}
<<<<<<< HEAD

<<<<<<< HEAD .cg_name {
  font-size: 1.4em;
  margin: 0px 8px 0px;
}

.cg_title2 {
  =======.cg_name {
    font-size: 1.6em;
    margin: 0px 8px 0px 16px;
  }

  .cg_title2 {
    >>>>>>>287dd934b6faec9c08686ba2463007ad567e6f43 display: flex;
    justify-content: center;
    align-items: center;
  }
=======
.cg_name{
  font-size: 1.6em;
  margin: 0px 8px 0px 16px;
}

.cg_title2{
  display: flex;
  justify-content: center;
  align-items: center;
}
>>>>>>> 23841ebda8a69ca1258d6e7c016b3a93786d99d5

  .cg_area {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* メニュー全体のスタイル */
  .global-nav {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    max-width: 1000px;
    margin: 0 auto;
    /* border: solid 1px #FDB3AD; */
  }

  .global-nav a {
    /* position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    max-width: 1000px;
    margin: 0 auto; */
    border-top: solid 1px #FDB3AD;
    border-bottom: solid 1px #FDB3AD;
  }

  /* 各メニューのスタイル */
  .global-nav p {
    float: left;
    width: 20%;
  }

  .global-nav p a {
    display: block;
    color: #FDB3AD;
    text-align: center;
    font-size: 0.8em;
    background-color: #FDF8F2;
  }

  /* 黒いバーのスタイル */
  .global-nav--bar {
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 20%;
    height: 8px;
    background: #F27D7D;
    -webkit-transition: all .5s;
    transition: all .5s;
  }

  /* ホバーでバーの位置を変化 */
  .global-nav p:nth-child(1):hover~.global-nav--bar {
    left: 0;
  }

  .global-nav p:nth-child(2):hover~.global-nav--bar {
    left: 20%;
  }

  .global-nav p:nth-child(3):hover~.global-nav--bar {
    left: 40%;
  }

  .global-nav p:nth-child(4):hover~.global-nav--bar {
    left: 60%;
  }

  .global-nav p:nth-child(5):hover~.global-nav--bar {
    left: 80%;
  }

<<<<<<< HEAD
  .button_before {
    text-align: left;
  }
=======
.topic{
  /* display: flex;  */
  /* justify-content: center; */
  /* text-align: center; */
  /* padding: 8px 0px 4px 0px; */
  color: #86929D;
  font-size: 1.1em;
  font-weight: bold;
  /* width: 80%; */
  /* border-bottom: solid 1px #FDB3AD; */
  padding: 32px 0px 8px 16px;
  border-bottom: solid 1.4px #86929D;
  margin-bottom: 16px;
}
>>>>>>> 23841ebda8a69ca1258d6e7c016b3a93786d99d5

  <<<<<<< HEAD .topic {

    /* display: flex; */
    =======.topic {
      /* display: flex;  */
      >>>>>>>287dd934b6faec9c08686ba2463007ad567e6f43
      /* justify-content: center; */
      /* text-align: center; */
      /* padding: 8px 0px 4px 0px; */
      color: #86929D;
      font-size: 1.1em;
      font-weight: bold;
      /* width: 80%; */
      /* border-bottom: solid 1px #FDB3AD; */
      <<<<<<< HEAD padding: 16px 0px 8px 16px;
      =======padding: 32px 0px 8px 16px;
      >>>>>>>287dd934b6faec9c08686ba2463007ad567e6f43 border-bottom: solid 1.4px #86929D;
      margin-bottom: 16px;
    }

    .cg_img_grid {
      /* background-size: cover;
    background-position: center center;
    padding-top: 100%;
    width: 100%; */
<<<<<<< HEAD
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      /* width:33%; */
      /* height:auto; */
    }

    .cg_img_grid_unit {
      width: 33%;
    }

    .cg_pictures_grid {
      display: flex;
      width: auto;
    }

    .font-serif {
      font-family: 'Noto Serif JP', serif;
      color: #DB8483;
      text-align: center;
      margin-top: 16px;
    }

    <<<<<<< HEAD .reco3_title {
      text-align: center;
      color: #62A0B9;

      =======.reco3_title {
        text-align: center;
        color: #62A0B9;
        display: flex;
        align-items: center;
        justify-content: center;
        /* 子要素をflexboxにより中央に配置する */

        >>>>>>>287dd934b6faec9c08686ba2463007ad567e6f43
      }

      .parenthesis {
        position: relative;
        margin: 8px;
        padding: 8px 15px 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .parenthesis::before,
      .parenthesis::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .parenthesis::before {
        top: 0;
        left: 0;
        border-top: 1px solid #86929D;
        border-left: 1px solid #86929D;
      }

      .parenthesis::after {
        bottom: 0;
        right: 0;
        border-bottom: 1px solid #86929D;
        border-right: 1px solid #86929D;
      }

      .reset_css {
        padding: 0;
      }


      /* 9 grid */

      .grid-3images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4px;
        margin: 1vw;
      }

      <<<<<<< HEAD .image-container {
        overflow: hidden;
        width: 32vw;
        height: 32vw;

      }

      .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


      .grid-5images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1vw;
        margin: 1vw;
      }

      .image-5container {
        overflow: hidden;
        width: 18.8vw;
        height: 18.8vw;

        =======

        /* 20グリッド */
        .grid-5images {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-gap: 1vw;
          margin: 1vw;
        }

        .image-5container {
          overflow: hidden;
          width: 18.8vw;
          height: 18.8vw;
          background-color: #86929D;
        }

        .image-5container_white {
          overflow: hidden;
          width: 18.8vw;
          height: 18.8vw;
          background-color: rgba(134, 146, 157, 0.28);
        }



        .facility_icon {
          height: 80%;
          padding-top: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          /* 子要素をflexboxにより中央に配置する */

        }

        .facility_text {
          color: #FFFFFF;
          height: 20%;
          font-size: 0.4em;
          /* display: flex; */
          /* align-items: center; */
          text-align: center;
          margin-top: -5px;
        }

        .facility_explain {
          font-weight: bold;
          font-size: 0.7em;
          color: #86929D;
          margin: 0 0 0 auto;
          display: flex;
          width: fit-content;
          margin-right: 8px;
        }

        .facility_off {
          color: rgba(134, 146, 157, 0.28);
          margin-left: 4px;
          >>>>>>>287dd934b6faec9c08686ba2463007ad567e6f43
        }



        .owner_pic {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          /* 子要素をflexboxにより中央に配置する */

        }

        .owner_pic img {
          object-fit: cover;
          width: 85vw;
          height: 85vw;
          filter: grayscale(0%) sepia(21%) saturate(98%) hue-rotate(0deg) invert(10%) opacity(100%) brightness(132%) contrast(95%) blur(0px) drop-shadow(rgb(0, 0, 0) 0px 0px 0px);
        }

        .owner_comment {
          color: #86929D;
          font-size: 0.7em;
          padding: 16px;
          margin-bottom: 16px;
        }

        /* map */
        .map {
          padding: 0 6vw;
          /* display: flex; */
          /* align-items: center; */
          /* justify-content: center; */
        }

        .btn-app {
          margin-left: 7vw;
          color: #86929D;
          font-size: 0.7em;

        }

        .access_comment {
          color: #86929D;
          font-size: 0.7em;
          padding: 16px;

        }

        /* キャンプ場情報 */

        <<<<<<< HEAD .cg_detail {
          color: #86929D;
          font-size: 0.7em;
          border-bottom: solid 1px;
          margin: 0 5vw;
          padding: 12px 0;
          width: 90vw;

          =======.cg_detail {
            color: #86929D;
            font-size: 0.7em;
            border-bottom: solid 1px #D4D4D4;
            margin: 0 5vw;
            padding: 12px 0;
            width: 90vw;
            >>>>>>>287dd934b6faec9c08686ba2463007ad567e6f43
          }

          .cg_detail_noborder {
            color: #86929D;
            font-size: 0.7em;
            /* border-bottom: solid 1px; */
            margin: 0 5vw;
            width: 90vw;
            padding: 12px 0
          }

          .cg_detail_column {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .cg_detail_wrap {
            /* display: flex;
=======
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* width:33%; */
  /* height:auto; */
}

.cg_img_grid_unit {
  width: 33%;
}

.cg_pictures_grid {
  display: flex;
  width: auto;
}

.font-serif {
  font-family: 'Noto Serif JP', serif;
  color: #DB8483;
  text-align: center;
  margin-top: 16px;
}

.reco3_title{
    text-align: center;
    color:#62A0B9;
    display:flex;
    align-items: center;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
  
}

.parenthesis {
  position: relative;
  margin: 8px;
  padding: 8px 15px 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parenthesis::before,
.parenthesis::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parenthesis::before {
  top: 0;
  left: 0;
  border-top: 1px solid #86929D;
  border-left: 1px solid #86929D;
}

.parenthesis::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #86929D;
  border-right: 1px solid #86929D;
}

.reset_css {
  padding: 0;
}


/* 9 grid */

.grid-3images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  margin: 1vw;
}

/* 20グリッド */
  .grid-5images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin: 1vw;
  }

 .image-5container{
   overflow:hidden;
   width:18.8vw;
   height:18.8vw;
   background-color:#86929D;
 }
 .image-5container_white{
  overflow:hidden;
  width:18.8vw;
  height:18.8vw;
  background-color:rgba(134, 146, 157, 0.28);
}



.facility_icon{
  height:80%;
  padding-top:20%;
  display:flex;
  align-items: center;
  justify-content: center; /* 子要素をflexboxにより中央に配置する */

}

 .facility_text{
  color: #FFFFFF;
  height: 20%;
  font-size: 0.4em;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  margin-top: -5px;
 }

.facility_explain{
  font-weight: bold;
  font-size: 0.7em;
  color: #86929D;
  margin: 0 0 0 auto;
  display: flex;
  width: fit-content;
  margin-right: 8px;
}

.facility_off{
  color: rgba(134, 146, 157, 0.28);
  margin-left: 4px;
}



.owner_pic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 子要素をflexboxにより中央に配置する */

}

.owner_pic img {
  object-fit: cover;
  width: 85vw;
  height: 85vw;
  filter: grayscale(0%) sepia(21%) saturate(98%) hue-rotate(0deg) invert(10%) opacity(100%) brightness(132%) contrast(95%) blur(0px) drop-shadow(rgb(0, 0, 0) 0px 0px 0px);
}

.owner_comment {
  color: #86929D;
  font-size: 0.7em;
  padding: 16px;
  margin-bottom: 16px;
}

/* map */
.map {
  padding: 0 6vw;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.btn-app {
  margin-left: 7vw;
  color: #86929D;
  font-size: 0.7em;

}

.access_comment {
  color: #86929D;
  font-size: 0.7em;
  padding: 16px;

}

/* キャンプ場情報 */

.cg_detail{
    color: #86929D;
    font-size: 0.7em;
    border-bottom: solid 1px #D4D4D4;
    margin: 0 5vw;
    padding: 12px 0;
    width: 90vw;
}

.cg_detail_noborder {
  color: #86929D;
  font-size: 0.7em;
  /* border-bottom: solid 1px; */
  margin: 0 5vw;
  width: 90vw;
  padding: 12px 0
}

.cg_detail_column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cg_detail_wrap {
  /* display: flex;
>>>>>>> 23841ebda8a69ca1258d6e7c016b3a93786d99d5
  justify-content: center;
  align-items: center; */
          }

          .bold {
            font-weight: bold;
            width: 30vw;
          }

          .cg_detail_box {
            width: 60vw;
          }

          /* plan unit */
          .plan_center {
            text-align: center;
            color: #86929D;
            font-weight: bold;
            font-size: 0.9em;
            margin: 40px 0 16px;
          }

          .plan_wrap {
            display: flex;
            justify-content: center;
            align-items: center;

          }

          .plan_title_unit {
            padding: 4px;
          }

          .plan_subtitle {
            color: #86929D;
            font-size: 0.6em;
            text-align: center;
          }

          .plan_name {
            color: #86929D;
            font-size: 1em;
            font-weight: bold;
          }

          .plan_amount {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FDB3AD;
            font-size: 1em;
            font-weight: bold;
            margin: 12px 8px 0px;
          }

          .plan_max_people {
            color: #86929D;
            text-align: center;
            font-size: x-small;
            /* margin-top: -6px; */
          }

          .fontsize_smaller {
            font-size: smaller;
          }

          .plan_wrap {
            border: 1px solid #EFB997;
            background-color: #FDF8F2;
            margin: 4px 8px;
          }

          .plan_img {
            overflow: hidden;
            width: 20vw;
            height: 18vw;
            margin: 4px;
          }

          .plan_img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .reserve_button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px 0 0;
            /* width: 50vw; */
          }

          button {
            border-top: 0;
            cursor: pointer;
          }

          .button_flat {
            margin-right: 10px;
            width: 120px;
            background: #EFB997;
            border-bottom: #E2996B 3px solid;
            border-left: #E2996B 1px solid;
            border-right: #E2996B 1px solid;
            border-radius: 6px;
            text-align: center;
            color: white;
            padding: 8px;
            /* float: left; */
            font-size: 1em;
            font-weight: bold;
          }

          .button_flat:hover {
            opacity: 0.8;
          }

          .button_flat:active {
            width: 120px;
            background: #BF735C;
            border-bottom: #E2996B 1px solid;
            border-left: #E2996B 1px solid;
            border-right: #E2996B 1px solid;
            border-radius: 6px;
            text-align: center;
            color: white;
            padding: 8px;
            margin-top: 3px;
            /* float: left; */
          }

          .footer {
            height: 60px;
            /* color:#FE7B93; */
            /* padding:10px 0px 5px 20px; */
            /* font-size:18px; */
            /* font-family: 'Gaegu', cursive; */
            font-weight: bold;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FDF8F2;
            border-top: 2px solid #F2D2BC;


          }

          .fixed_bottom {
            position: sticky;
            bottom: 0;
            z-index: 9999;
          }

          .fixed_bottom .footer .reserve_button {
            width: 50vw;
            margin: 0px;
          }

          .fixed_bottom .footer .plan_amount_unit {
            width: 50vw;
          }